#feature{
  text-align: center;
}

.container-margin {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.container-margin-icon {
  margin-top: 4rem;
}

.icon-feature {
  font-size: 50px;
  color: #28a745;
  border: 1px solid #28a745;
  border-radius: 45px;
  height: 120px;
  line-height: 120px;
  margin: 0 auto 30px;
  width: 120px;
  transition: border-radius 0.2s;
}

.feature-icon-title {
  font-size: 22px;
  font-weight:600;
  margin: 1rem 1rem;
}

.feature-icon-subtitle {
  font-size: 15px;
}